/* global */
.bodycontainer {
  background-image: src(
    "/workspace/mvmnt-finalproject/src/front/images/martinygrupo2.jpg"
  );
  background-color: whitesmoke;
  margin: auto;
  padding: auto;
}

/* global - navbar */
.navbar {
  background-color: whitesmoke;
}

.navbar .collapse .dropdown .nav-btn {
  cursor: pointer;
  color: rgb(0, 187, 255);
  border-radius: 10px;
  border-color: rgb(0, 187, 255);
  padding: 10px;
  margin-right: 28px;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar .navbar-toggler {
  cursor: pointer;
  color: rgb(0, 187, 255);
  border-radius: 10px;
  margin-right: 28px;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar .navbar-toggler:focus,
.navbar .collapse .dropdown .nav-btn:focus,
.navbar .backoffice-navbtn:focus {
  box-shadow: none;
  outline: none;
}
.navbar .navbar-nav .nav-link,
.navbar .dropdown-menu .dropdown-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.navbar .backoffice-navtext {
  margin-left: 600px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.navbar .backoffice-navbtn {
  cursor: pointer;
  color: rgb(202, 3, 3);
  border-radius: 10px;
  border-color: rgb(202, 3, 3);
  padding: 10px;
  background-color: transparent;
  margin-left: 130px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* global - footer */
footer {
  background: whitesmoke;
  color: black;
}

footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .footer-content .get-in-touch {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

footer .footer-content .get-in-touch h4 {
  font-size: 18px;
  font-weight: 700;
}

footer .footer-content .get-in-touch span p {
  font-size: 15px;
  font-weight: 400;
  color: #828282;
  margin-right: 100px;
}

footer .footer-content .social-media {
  display: flex;
  flex-direction: column;
}

footer .footer-content .social-media h4 {
  font-size: 18px;
  font-weight: 700;
}

/* home */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imgheader {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .home-content {
    max-width: 50%;
  }
}

.home .home-content {
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 150px;
  z-index: 2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(116, 114, 114, 0.204);
}

.home-content-text h1 {
  font-size: 45px;
  line-height: 50px;
}

.home-content-text h3 {
  font-size: 25px;
  line-height: 50px;
  text-align: right;
}

.home-content-text span {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 187, 255);
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.714);
}

.home-content-text button {
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 187, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.714);
}

/* sobre mi */
.about-us .container .row .imgAbout {
  width: 70%;
  padding-right: 15px;
  flex: 1;
}

.about-us .container .row .textAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us .container .row .textAbout h2 {
  font-size: 40px;
  margin-bottom: 35px;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(116, 114, 114, 0.204);
}

.about-us .container .row .textAbout h2::after {
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -9px;
  background: #dedede;
}

.about-us .container .row .textAbout h4 {
  font-size: 17px;
  line-height: 29px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
}

/* testimonios */
.testimonios {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.testimonios .bottom {
  justify-content: space-between;
}

.testimonios .middle {
  flex: 1;
}

.testimonios .video-container {
  position: relative;
  width: 60%; /* Adjust the width as desired */
  margin: 0 auto; /* Center the container horizontally */
  padding-bottom: 33.33%; /* 3:1 aspect ratio (1 / 3 = 0.3333) */
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.testimonios .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonios .testimonios-content .bottom .middle p {
  width: 50%;
  margin-left: 25%;
}

/* individualizado */
.container-fluid .service-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.container-fluid .service-content .service-2 img:nth-child(1) {
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 10;
}

.container-fluid .service-content .service-2 img:nth-child(2) {
  width: 210px;
  grid-column-start: 13;
  grid-column-end: 29;
  grid-row-start: 3;
  grid-row-end: 5;
}

.container-fluid .service-content .service-2 img:nth-child(3) {
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 26;
  grid-row-start: 9;
  grid-row-end: 9;
}

.container-fluid .service-content .service-2 img:nth-child(4) {
  width: 250px;
  grid-column-start: 11;
  grid-column-end: 20;
  grid-row-start: 6;
  grid-row-end: 8;
}

@media (min-width: 992px) {
  .container-fluid
    .service-content
    .service-0
    .embed-responsive
    .embed-responsive-item,
  .container-fluid
    .service-content
    .service-3
    .container
    .embed-responsive
    .embed-responsive-item {
    width: 800px;
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid
    .service-content
    .service-0
    .embed-responsive
    .embed-responsive-item,
  .container-fluid
    .service-content
    .service-3
    .container
    .embed-responsive
    .embed-responsive-item {
    width: 600px;
    height: 400px;
  }
}

/* movimiento */
.mvmt-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

@media (min-width: 992px) {
  .container-fluid
    .mvmt-content
    .mvmt-0
    .row
    .colVideo
    .embed-responsive
    .embed-responsive-item {
    width: 600px;
    height: 348px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid
    .mvmt-content
    .mvmt-0
    .row
    .colVideo
    .embed-responsive
    .embed-responsive-item {
    width: 350px;
    height: 148px;
  }
}

/* acrobacia */
@media (min-width: 992px) {
  .container-fluid
    .mvmt-content
    .acro-0
    .embed-responsive
    .embed-responsive-item {
    width: 553px;
    height: 548px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid
    .mvmt-content
    .acro-0
    .embed-responsive
    .embed-responsive-item {
    width: 353px;
    height: 448px;
  }
}

@media (min-width: 992px) {
  .container-fluid
    .mvmt-content
    .acro-0
    .row
    .colVideo1
    .embed-responsive
    .embed-responsive-item,
  .container-fluid
    .mvmt-content
    .acro-0
    .row
    .colVideo2
    .embed-responsive
    .embed-responsive-item {
    width: 320px;
    height: 548px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid
    .mvmt-content
    .acro-0
    .row
    .colVideo1
    .embed-responsive
    .embed-responsive-item,
  .container-fluid
    .mvmt-content
    .acro-0
    .row
    .colVideo2
    .embed-responsive
    .embed-responsive-item {
    width: 220px;
    height: 400px;
  }
}

/* eventos */
.eventos .container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.eventos
  .container
  .eventos-content
  .row
  .col-lg-4
  .eventoSingle
  .square-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.eventos
  .container
  .eventos-content
  .row
  .col-lg-4
  .eventoSingle
  .square-image
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* contact */
.contact .container-contact {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

/* login, newPassword */
.login-container .login-container2 .login-content,
.signup .signup-content,
.newPass {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(116, 114, 114, 0.204);
}

/* backoffice: inicio */
.backofficeWelcome1,
.diagnostico,
.backofficeProfile,
.backofficeEditProfile,
.backofficeMedidas,
.backofficeEmergencyContact,
.backoffice2fa,
.backofficeSettings,
.backofficePayment,
.backofficePreferences,
.modal-dialog,
.recoverPass {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(92, 91, 91, 0.204);
}

.backofficeWelcome1 .lead .btn {
  cursor: pointer;
  color: rgb(34, 122, 246);
  border-color: rgb(34, 122, 246);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.backofficeWelcome1 .lead .btn:hover {
  background-color: rgb(34, 122, 246);
  color: white;
}

@media (min-width: 992px) {
  .backofficeWelcome1 .embed-responsive .embed-responsive-item,
  .backofficeWelcome1 .list .videoBackoffice {
    width: 800px;
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .backofficeWelcome1 .embed-responsive .embed-responsive-item,
  .backofficeWelcome1 .list .videoBackoffice {
    width: 600px;
    height: 400px;
  }
}

/* backoffice: diagnostico */

@media (min-width: 992px) {
  .diagnostico
    .diagnostico-content
    .bottom
    .middle
    .video-container
    .embed-responsive-item {
    width: 500px;
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .diagnostico
    .diagnostico-content
    .bottom
    .middle
    .video-container
    .embed-responsive-item {
    width: 400px;
    height: 250px;
  }
}

/* backoffice: nutrición */

@media (min-width: 992px) {
  .nutricion-content .embed-responsive .embed-responsive-item {
    width: 500px;
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nutricion-content .embed-responsive .embed-responsive-item {
    width: 400px;
    height: 250px;
  }
}

/* backoffice: programs */

@media (min-width: 992px) {
  .backProgramas .programasVideos .embed-responsive .embed-responsive-item {
    width: 500px;
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .backProgramas .programasVideos .embed-responsive .embed-responsive-item {
    width: 400px;
    height: 250px;
  }
}
